<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create student</title>
</head>
<body>
<h1>Create Student</h1>
<p>
    <a href="/student">Student list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create}" th:object="${student}" method="post">
    <table>
        <tr>
            <td>Code: </td>
            <td><input type="text" th:field="*{code}"/></td>
        </tr>
        <tr>
            <td>FirstName: </td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td>Last name: </td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td>Address: </td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td>Phone number: </td>
            <td><input type="text" th:field="*{phoneNumber}"/></td>
        </tr>
        <tr>
            <td>averageGrade: </td>
            <td><input type="text" th:field="*{averageGrade}"/></td>
        </tr>
        <tr>
            <td>Status:  </td>
            <td><input type="text" th:field="*{status}"/></td>
        </tr>
        <tr>
            <td>Email:  </td>
            <td><input type="text" th:field="*{email}"/></td>
        </tr>
        <tr>
            <td>Note:  </td>
            <td><input type="text" th:field="*{note}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">Save</button></td>
        </tr>
    </table>
</form>
</body>
</html>